<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link
      rel="stylesheet"
      href="/libraries/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <div class='weather'> 
      <div class='row'>
        <div class='col-md-3'>
            <img src="../images/iconfinder_10_snow_coud_emoticon_weather_smiley_3375690.png" alt="img" width="100" height='100'>
           
        </div>
        <div class='col-md-3'>
            <img src="../images/iconfinder_07_sun_smile_happy_emoticon_weather_smiley_3375693.png" alt="img" width="100" height='100'>
           
        </div>
        <div class='col-md-3'>
            <img src="../images/iconfinder_08_thunder_cloud_angry_emoticon_weather_smiley_3375692.png" alt="img" width="100" height='100'>
           
        </div>
        <div class='col-md-3'>
            <img src="../images/iconfinder_05_cloud_smile_cloudy_emoticon_weather_smiley_3375695.png" alt="img" width="100" height='100'>
           
        </div>
      </div>
     </div>

      <fieldset>
        <form action="/" method="post">
          <input name="city" type="text" class="ghost-input" placeholder="Enter a City" required>
          <input type="submit" class="ghost-button" value="Get Weather">
        </form>
  
        <div class='div-class' >
        <% if(weather !== null){ %>
          <h3><%= weather %></h3>
        <% } %>

        <% if(error !== null){ %>
          <p><%= error %></p>
        <% } %></div>
      </fieldset>
    </div>
  </body>
</html>
