body{

  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(#00449e, #e66465);
  margin-top: 50px;
  
  
  }
  
  form{
  
    margin-top: 30px;
   
   
  }
  .ghost-input{
  
    padding: 20px;
    color: #444;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    
  }
  .ghost-button{
    
    color: #444;
    border: none;
    padding: 20px;
    border-radius: 5px;
    margin-left: 10px;
  }
  
  .div-class{
  
  margin-top:50px;
  }
  
  
  .container{
  text-align: center;
  
  }
  h3{
  
    color:white ;
    margin-top: 30px;
  }
  
  .div-class{
  
    margin-top: 100px;
    margin-bottom: 50px;
  }
  
  p{
    color :rgb(245, 215, 215);
    font-size:20px;

  }
 @media (max-width:500px){
  img{

    width:30%;
  }

  .ghost-button .ghost-input {

    font-size:4%;
  }

  P{

    font-size: 10px;
  }
  h3{

    font-size: 20px;
  }
 }


 @media (max-width:767px){
  img{

    width:30%;
  }
}
  